<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('meta.ejs'); %>
</head>

<body>

  <%- include('header.ejs', {user: user}); %>

    <!-- Banner Start -->
    <div class="metro_banner banner-2 dark-overlay dark-overlay-2"
      style="background-image: url(assets/img/banners/banner-1.jpg)">

      <!-- Banner Item Start -->
      <div class="metro_banner-item">

        <div class="container">
          <div class="metro_banner-text">
            <h1>Welcome to EzRecipe</h1>
          </div>
        </div>

      </div>
      <!-- Banner Item End -->

    </div>
    <!-- Banner End -->

    <!-- Categories Start -->
    <div class="section section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <a href="recipe-grid.html" class="metro_recipe-category style-2">
              <img style="height: 400px;" src=<%=img1%>> <alt="category">
                <h4>
                  <%= imgName1%>
                </h4>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="recipe-grid.html" class="metro_recipe-category style-2">
              <img style="height:400px;" src=<%=img2%>> <alt="category">
                <h4>
                  <%= imgName2%>
                </h4>
            </a>
          </div>
          <div class="col">
          </div>
          <div class="col-lg-8">
            <a href="recipe-grid.html" class="metro_recipe-category style-2">
              <img style="height:400px;" src=<%=img3%>> <alt="category">
                <h4>
                  <%= imgName3%>
                </h4>
            </a>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
    <!-- Categories End -->

    <div class="section pt-0">
      <div class="container">
        <div class="row">

          <div class="col-12">

            <!-- Popular Recipes Start -->
            <div class="section p-0 metro_home-slider-wrapper">
              <div class="section-title flex-title">
                <h4 class="title">Popular Recipes</h4>
                <div class="metro_arrows">
                  <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                  <i class="fa fa-arrow-right slick-arrow slider-next"></i>
                </div>
              </div>

              <div class="metro_home-slider-3">

                <!-- Recipe Start -->
                <% for(var i=0; i<popularRecipe.length; i++) {%>
                  <article class="metro_post metro_recipe metro_recipe-2">
                    <div class="metro_post-thumb">
                      <form action="/recipesrs?recipeID=<%=popularRecipe[i].recipeID %>" method="post">
                        <a href="/recipes?recipeID=<%=popularRecipe[i].recipeID %>">
                          <img style="height:193.33px;" src=<%=popularRecipe[i].image%> alt="recipe">
                        </a>
                      </form>
                    </div>
                    <div class="metro_post-body">
                      <div class="metro_post-desc">
                        <span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i>
                            <%= popularRecipe[i].totalTime%>
                          </a> <a href="recipe-details.html"> <i class="far fa-knife-kitchen"></i>
                            <%= popularRecipe[i].authorName%>
                          </a> </span>
                        <h5> <a href="recipe-details.html">
                            <%= popularRecipe[i].recipeName%>
                          </a> </h5>
                      </div>
                    </div>
                  </article>
                  <% }; %>
                    <!-- Recipe End -->
              </div>
            </div>
            <!-- Popular Recipes End -->

            <!-- Recipes Start -->
            <div class="section metro_home-slider-wrapper-2">

              <div class="section-title flex-title">
                <h4 class="title">Featured Recipes</h4>
                <div class="metro_arrows">
                  <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                  <i class="fa fa-arrow-right slick-arrow slider-next"></i>
                </div>
              </div>

              <div class="metro_home-slider-2">

                <!-- Recipe Start -->
                <% for(var i=0; i < featuredRecipe.length; i++) { %>
                  <article class="metro_post metro_recipe metro_recipe-3">
                    <div class="metro_post-thumb">
                      <a href="/recipes?recipeID=<%=featuredRecipe[i].recipeID %>">
                        <img style="height:193.33px;" src=<%=featuredRecipe[i].image %> alt="recipe">
                      </a>
                    </div>
                    <div class="metro_post-body">
                      <div class="metro_post-desc">
                        <span class="metro_post-meta"> <a href="#">
                            <%= featuredRecipe[i].categories %>
                          </a> </span>
                        <div class="metro_rating">
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                        </div>
                        <h5> <a href="recipe-details.html"></a>
                          <%= featuredRecipe[i].recipeName %>
                        </h5>
                      </div>
                      <a class="btn-link" href="recipe-details.html"> Read More <i class="fas fa-arrow-right"></i> </a>
                    </div>
                  </article>
                  <% } %>
                    <!-- Recipe End -->
              </div>

            </div>
            <!-- Recipes End -->

          </div>
        </div>
      </div>
    </div>



    <%- include('footer.ejs') %>

      <!-- Vendor Scripts -->
      <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
      <script src="/assets/js/plugins/popper.min.js"></script>
      <script src="/assets/js/plugins/waypoint.js"></script>
      <script src="/assets/js/plugins/bootstrap.min.js"></script>
      <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
      <script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
      <script src="/assets/js/plugins/imagesloaded.min.js"></script>
      <script src="/assets/js/plugins/jquery.steps.min.js"></script>
      <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
      <script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
      <script src="/assets/js/plugins/slick.min.js"></script>
      <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
      <script src="/assets/js/plugins/jquery.zoom.min.js"></script>


      <!-- Organista Scripts -->
      <script src="/assets/js/main.js">
      </script>
      <script>

        $(document).keyup(function (event) {
          if ($("#searchField").is(":focus") && event.key == "Enter") {
            window.location.replace("/recipes/search-result?search=" + $("#searchField").val())

          }
        });

      </script>


</body>

</html>