<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('meta.ejs'); %>

</head>

<body>

    <%- include('header.ejs'); %>
        <!-- Subheader Start -->
        <div class="metro_subheader dark-overlay dark-overlay-2"
            style="background-image: url(assets/img/banners/banner-1.jpg)">
            <div class="container">
                <div class="metro_subheader-inner">
                    <h1>Recipe Details</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Recipe Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Subheader End -->

        <!-- Post Content Start -->
        <div class="section metro_post-single">
            <div class="container">

                <div class="row1">
                    <div class="col-lg-8">

                        <!-- Content  -->
                        <div class="metro_post-single-wrapper metro_recipe-single-wrapper">

                            <h2 class="entry-title" id="recipeName"></h2>

                            <div class="metro_post-single-thumb">
                                <img id="recipeImage" src="" alt="post">
                            </div>

                            <!-- Entry Content Start -->
                            <div class="entry-content">
                                <span class="metro_post-meta">

                                    <i id="authorName" class="far fa-user"></i>
                                    <i id="totalTime" class="far fa-clock"></i>
                                </span>

                                <p id="recipeDescription">

                                </p>

                                <p id="recipeInstructions">
                                </p>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="metro_nutritional-facts text-left">
                                            <h4>Nutrition</h4>
                                            <ul>
                                                <li> Calories: <span id="calories"></span> </li>
                                                <li> Sugar: <span id="sugar"></span> </li>
                                                <li> Protein: <span id="protein"></span> </li>
                                                <li> Fat: <span id="fat"></span> </li>
                                                <li> Carbs: <span id="carbs"></span> </li>
                                                <li> Cholestorol: <span id="cholestorol"></span> </li>
                                                <li> Fiber: <span id="fiber"></span> </li>
                                                <li> Saturated Fat: <span id="satFat"></span> </li>
                                                <li> Sodium: <span id="sodium"></span> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="metro_ingredients text-left">
                                            <h4>Ingredients</h4>
                                            <ul id="ingredient">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Entry Content End -->

                        </div>

                        <!-- Comments Form -->
                        <div class="metro_comments-list">
                            <h4>Our Comments</h4>
                            <ul id="commentItem">
                            </ul>
                        </div>

                        <!-- Comments -->
                        <div class="metro_comments-form">

                            <h4>Leave a Comment</h4>

                            <form id="commentForm" method="post">
                                <div class="form-group">
                                    <textarea id= "reviewDesc" class="form-control" placeholder="Type your review..." name="review"
                                        rows="7"></textarea>
                                </div>
                                <div class="form-group d-flex" style="text-align: left;">
                                    <label for="rate d-inline-block" style="font-size: 1.5em;">Rating:</label>
                                    <div class="rate" id="rate">
                                        <input type="radio" id="star5" name="rate" value="5" hidden />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" hidden />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" hidden />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" hidden />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" hidden />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                                <% if(user){ %>
                                        <input type="text" id="userID" name="userID" value="<%-user[0].id%>" hidden />
                                        <input type="text" id="userName" name="userName" value="<%-user[0].username%>" hidden />
                                    <% } else { %>
                                        <input type="text" id="userID" name="userID" value="0" hidden />
                                        <input type="text" id="userName" name="userName" value="Anonymous" hidden />
                                        <%}%>
                                <button type="submit" class="metro_btn-custom primary" name="button">Send
                                    Comment</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Product Content End -->

        <%- include('footer.ejs') %>

            <!-- Vendor Scripts -->
            <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
            <script src="/assets/js/plugins/popper.min.js"></script>
            <script src="/assets/js/plugins/waypoint.js"></script>
            <script src="/assets/js/plugins/bootstrap.min.js"></script>
            <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
            <script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
            <script src="/assets/js/plugins/imagesloaded.min.js"></script>
            <script src="/assets/js/plugins/jquery.steps.min.js"></script>
            <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
            <script src="/assets/js/plugins/slick.min.js"></script>
            <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
            <script src="/assets/js/plugins/jquery.zoom.min.js"></script>


            <!-- Organista Scripts -->
            <script src="/assets/js/main.js"></script>

            <script>
                var rating = 0;
                var urlParams = new URLSearchParams(window.location.search);
                var userID = document.getElementById('userID').value;
                var userName = document.getElementById('userName').value;
                window.onload = function () {

                    
                    if (urlParams.has('recipeID')) {
                        var query = urlParams.get('recipeID')

                        $.ajax({
                            type: "POST",
                            url: "/recipes/details",
                            data: {
                                recipeID: query
                            },
                            success: function (result) {
                                console.log(result)
                                var image = '/assets/img/noImageAvailable.png';
                                // console.log(result[0].image.split(", ")[0])
                                if (result[0].image) {
                                    image = result[0].image.split(", ")[0]
                                }
                                $('#recipeName').append(result[0].recipeName);
                                $('#recipeImage').prop("src", image);
                                $('#authorName').append(" " + result[0].authorName + " ");
                                $('#totalTime').append(" " + result[0].totalTime);
                                $('#recipeDescription').append(" " + result[0].description);
                                $('#recipeInstructions').append(" " + result[0].instructions.replaceAll(".,", "</br>"));
                                $('#calories').append(result[0].calories);
                                $('#sugar').append(result[0].sugarContent);
                                $('#protein').append(result[0].proteinContent);
                                $('#fat').append(result[0].fatContent);
                                $('#carbs').append(result[0].carboContent);
                                $('#cholestorol').append(result[0].cholestorolContent);
                                $('#fiber').append(result[0].fiberContent);
                                $('#satFat').append(result[0].satFatContent);
                                $('#sodium').append(result[0].sodium);
                                $('#ingredient').append("<li>" + result[0].ingredientName.replaceAll(", ", "</li><li>"));

                                if (result[0].RecipeDetails[0]) {
                                    for (i = 0; i < result[0].RecipeDetails.length; i++) {
                                        $("#commentItem").append(
                                            '<li class="comment-item">' +
                                            '<img src="assets/img/people/avatar-0.png" alt="comment author">' +
                                            '<div class="comment-body">' +
                                            '<h5 id="reviewerName">' + result[0].RecipeDetails[i].reviewAuthorName + '</h5>' +
                                            '<span id="reviewDate">' + result[0].RecipeDetails[i].dateModified + '</span>' +
                                            '<p id="review">' + result[0].RecipeDetails[i].reviewDesc + '</p></div></li>')
                                    }



                                }
                                else {
                                    $("#commentItem").append('<h5 id="reviewerName">No Review</h5>')
                                }
                            }
                        });
                    }
                }

                var urlParams = new URLSearchParams(window.location.search);
            console.log(urlParams.has('search')); // true
            if (urlParams.has('search')) {
                var query = urlParams.get('search')

                console.log(query)

                $.ajax({
                    type: "POST",
                    url: "/index/search",
                    data: {
                        search: query
                    },
                    success: function (result) {

                        //populate page using jqury
                        console.log(result)
                    }
                });

                $('#rate').click(function () {
                    for (i = 1; i <6; i++) {
                        var stringVal ='star'+ i.toString();
                        if (document.getElementById(stringVal).checked) {
                            rating = document.getElementById(stringVal).value

                        }
                    }
                });


                commentForm.onsubmit = async (e) => {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "recipes/",
                        data: {
                            recipeID: parseInt(urlParams.get('recipeID')),
                            //To be Changed to user when implemented jessica login
                            reviewAuthorID: userID,
                            reviewAuthorName: userName,
                            //Change Ends
                            rating: rating,
                            reviewDesc : $("#reviewDesc").val()
                        },
                        error: function (xhr, status, err) {
                            alert(status + " " + err);
                        },
                        success: function (result) {
                            window.location.reload();
                        }
                    });
                }
            }
            </script>

</body>

</html>