<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('meta.ejs') %>

</head>

<body>

    <%- include('header.ejs', {user:user}) %>


    <!-- Account Detail Start -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">My Account</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">USER INFORMATION</h6>
                        </div>
                        <div class="card-body">
                            <div id="alertPW" class="alert alert-danger fs-sm-1" hidden>
                                Password does not match!
                            </div>
                            <div id="alertPWSuccess" class="alert alert-success fs-sm-1" hidden>
                                Password change successfully!
                            </div>
                            <div class="row g-3">


                                <div class="col-sm-6 mb-2">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" value="<%-user.username%>" readonly>
                                </div>
                                <div class="col-sm-6 mb-2 ">
                                    <label class="form-label">Email address</label>
                                    <input id="email" type="text" class="form-control" value="<%-user.email%>" readonly>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control" value="<%-user.fname%>" readonly>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control" value="<%-user.lname%>" readonly>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="form-label">New Password</label>
                                    <input id="pw1" type="password" class="form-control">
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="form-label">Confirm New Password</label>
                                    <input id="pw2" type="password" class="form-control">
                                </div>
                                <div class="text-start d-inline-block float-right mt-3 px-2">
                                    <button id="save" onclick="save()" class="btn btn-primary px-4">Save
                                        Changes</button>
                                </div>
                                <div class="text-start d-inline-block float-right mt-3 px-2">
                                    <button id="del" onclick="delAcct()" class="btn btn-danger px-4">Delete Account</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Account Detail End -->

    <%- include('footer.ejs') %>

    <!-- Vendor Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/plugins/popper.min.js"></script>
    <script src="/assets/js/plugins/waypoint.js"></script>
    <script src="/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
    <script src="/assets/js/plugins/imagesloaded.min.js"></script>
    <script src="/assets/js/plugins/jquery.steps.min.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="/assets/js/plugins/jquery.zoom.min.js"></script>


    <!-- Organista Scripts -->
    <script src="/assets/js/main.js"></script>


</body>

<script>
    async function save() {
        var pw1 = document.getElementById("pw1").value;
        var pw2 = document.getElementById("pw2").value;
        if (pw1 !== pw2) {
            document.getElementById("alertPW").removeAttribute("hidden");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/accounts/userDetails",
            data: {
                isSave: true,
                email: $("#email").val(),
                pwd:  $("#pw1").val()
            },
            success: function (result) {
                $("#alertPW").attr("hidden", true);
                $("#alertPWSuccess").attr("hidden", false);
                $("#pw1").val("");
                $("#pw2").val("");
            }
        });

    }

    async function delAcct() {
        var email = document.getElementById("email").value;
        var ans = confirm('Are you sure you want to delete this account?');
        console.log(ans);
        if (ans) {
            $.ajax({
                type: "POST",
                url: "/accounts/userDetails",
                data: {
                    isSave: false,
                    email: email
                },
                success: function (result) {

                    //populate page using jqury
                    console.log(result);
                    window.location.replace(
                                        "http://localhost:3000/accounts");
                }
            });
        } else {
            // Do nothing!
        }

    }
    $(document).keyup(function (event) {
        if ($("#searchField").is(":focus") && event.key == "Enter") {
          window.location.replace("/recipes/search-result?search=" + $("#searchField").val())
        }
      });
</script>

</html>